In [2]:
import math
from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [3]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")

In [5]:
california_housing_dataframe = california_housing_dataframe.reindex(np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe['median_house_value'] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
15690,-122.4,40.6,44.0,1625.0,392.0,944.0,347.0,1.6,68.9
4235,-118.0,33.9,36.0,2911.0,534.0,1395.0,486.0,5.2,203.7
12537,-121.6,36.7,28.0,256.0,66.0,214.0,60.0,3.0,137.5
5238,-118.1,34.2,40.0,1054.0,251.0,1056.0,276.0,2.3,146.7
15525,-122.3,38.3,14.0,6778.0,947.0,2768.0,1014.0,6.2,258.9
...,...,...,...,...,...,...,...,...,...
11210,-121.1,39.2,17.0,3127.0,539.0,1390.0,520.0,4.0,172.8
9992,-119.8,36.8,29.0,2554.0,705.0,2669.0,655.0,1.2,61.9
7819,-118.4,34.0,38.0,2521.0,647.0,1091.0,597.0,4.1,322.9
13020,-121.9,37.4,17.0,1777.0,328.0,1235.0,329.0,5.4,258.1
3136,-117.8,33.9,5.0,6971.0,1449.0,3521.0,1423.0,5.2,243.9

In [6]:
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207.3
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,116.0
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,15.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119.4
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180.4
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500.0

In [15]:
my_feature = california_housing_dataframe[["total_rooms"]]
feature_columns = [tf.feature_column.numeric_column('total_rooms')]

In [16]:
targets = california_housing_dataframe["median_house_value"]

In [ ]:
my_optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.0000001)
my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)